﻿@using Microsoft.AspNet.Identity;
@using SimpleForum.WebClient.Infrastructure.Security;

@{
    bool userAuthenticated = Request.IsAuthenticated;
    string userName = HttpContext.Current.User.Identity.GetUserName();
}

<div class="nav navbar-right">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span> 
                @if (userAuthenticated)
                {
                   @userName
                }
                else
                {
                    @:Вход/Регистрация
                }
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                
                @if (!userAuthenticated)
                {
                    <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> Вход</span></a></li>
                    <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user" aria-hidden="true"> Регистрация</span></a></li>
                }
                else
                {
                    <li><a href="@Url.Action("EditUserInfo", "Account")"><span class="glyphicon glyphicon-user" aria-hidden="true"> Изменить данные</span></a></li>
                    <li><a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> Выход</span></a></li>
                }
            </ul>
        </li>
    </ul>
</div>







