﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Болтунов С.А.<br />
    РФ, г. Оренбург<br />
    <abbr title="Phone">P:</abbr>
    460023
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:SergeyBoltunov1986@gmail.com">SergeyBoltunov1986@gmail.com</a><br />
    <strong>Маркетинг и сотрудничество:</strong> <a href="mailto:SergeyBoltunov1986@gmail.com">SergeyBoltunov1986@gmail.com</a>
</address>