﻿@using SimpleForum.Domain;

@model Forum

@{
    ViewBag.Title = Model.Title + " ";
}

<div>
    <table align="center" cellpadding="2" width="90%" class="table-striped" >
        <thead>
            <tr class="table">
                <td colspan="3" align="left" height="100">
                    <table width="100%">
                        <tr>
                            <td width="30%"><img src="~/Content/Images/programming_languages_top.jpg" alt="Programming languages" /></td>
                            <td><h3>@Model.Title</h3></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var fs in Model.ForumSections.OrderBy(x => x.ShowOrder))
            {
                <tr>
                    <td><b>@fs.Title</b></td>
                    <td></td>
                    <td>@Html.ActionLink("Создать тему", "AddNewTopic", new { forumSectionId = fs.Id }, null)</td>
                </tr>

                foreach (var t in fs.Topics.OrderBy(x => x.CreationDate))
                {
                    string topicStarterName = t.User != null ? t.User.UserName : "Не указан";

                    <tr>
                        <td>@Html.ActionLink(t.Title, "Index", "Topic", new { topicId = t.Id }, null)</td>
                        <td width="50">@topicStarterName</td>
                        <td width="150">@t.CreationDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>