﻿@using Microsoft.AspNet.Identity

@model SimpleForum.WebClient.Models.TopicPageViewModel

@{
    ViewBag.Title = Model.Topic.Title;
    Guid? userId = null;

    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        userId = Guid.Parse(HttpContext.Current.User.Identity.GetUserId());
    }
}

<h2>@Model.Topic.Title</h2>

@if (!string.IsNullOrEmpty(Model.ErrorText))
{
    <div class="alert alert-danger">
        @Model.ErrorText
    </div>
}

@foreach (var item in Model.Topic.Posts.OrderBy(p => p.CreationDate))
{
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayFor(modelItem => item.CreationDate) @Html.DisplayFor(modelItem => item.User.UserName):    

        @if (Model.UpdatingPostId == null || Model.UpdatingPostId != item.Id)
        {
            <div class="well well-sm">
                @item.Content
            </div>

            <div class="form-group form-inline">
                @if (HttpContext.Current.Request.IsAuthenticated && userId == item.UserId)
                {
                    using (Html.BeginForm("UpdatingPost", "Topic", new { updatingPostId = item.Id }))
                    {
                        @Html.HiddenFor(modelField => Model.Topic.Id)

                        <button type="submit" class="form-control">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    }
                }

                @if (HttpContext.Current.Request.IsAuthenticated && userId == item.UserId)
                {
                    using (Html.BeginForm("DeletePost", "Topic", new { postId = item.Id }))
                    {
                        <button type="submit" class="form-control">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                }
            </div>
        }
        else
        {
            <div>
                @using (Html.BeginForm("UpdatePost", "Topic", new { postId = item.Id }))
                {
                    <div class="form-group">
                        @Html.TextArea("updatedContent", item.Content, new { @class = "form-control" })
                    </div>

                    <button type="submit">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                }
            </div>
            <div>
                @using (Html.BeginForm("Index", "Topic"))
                {
                    <button type="submit">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </button>
                }
            </div>
        }
    </div>
    }
<hr />
@if (HttpContext.Current.Request.IsAuthenticated)
{
    using (Html.BeginForm("AddPost", "Topic", new { topicId = Model.Topic.Id }, FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group col-lg-12">
            @Html.DisplayName("Сообщение")
            @Html.TextArea("message", new { @class = "form-control", style = "width: 100%; max-width: 100%;", placeholder = "Введите текст сообщения ...", rows = "4" })
            <button type="submit" class="btn btn-default">Отправить</button>
        </div>
    }
}
else
{
    <div class="form-group">
        @Html.DisplayName("Для добавления сообщений") 
        @Html.ActionLink("войдите", "Login", "Account", new { redirectUrl = HttpContext.Current.Request.RawUrl.ToString() }, null)
        @Html.DisplayName(" или ")
        @Html.ActionLink("зарегистрируйтесь", "Register", "Account", new { redirectUrl = HttpContext.Current.Request.RawUrl.ToString() }, null) ...
        
    </div>
}


